<div class="md:max-w-lg mx-auto">
    <h1 mat-dialog-title class="text-xl font-semibold mb-4">วัตถุดิบสินค้า</h1>


    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-md text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        รหัสวัตถุดิบ
                    </th>
                    <th scope="col" class="px-6 py-3">
                        ชื่อวัตถุดิบ
                    </th>
                    <th scope="col" class="px-6 py-3">
                        จำนวน
                    </th>
                    <th scope="col" class="px-6 py-3">
                        รายละเอียด
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" *ngFor="let item of warehouseData.raws; let i = index">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{item.product.code}}
                    </th>
                    <td class="px-6 py-4">
                        {{item.product.name}}
                    </td>
                    <td class="px-6 py-4">
                        {{item.product.qty}}
                    </td>
                    <td class="px-6 py-4">
                        {{item.product.detail}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div mat-dialog-actions class="flex justify-end mt-4">
        <button mat-button class="px-4 py-2 bg-gray-300 text-gray-600 rounded hover:bg-gray-400"
            (click)="onCancelClick()">ปิด</button>
    </div>
</div>
