<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 flemin-w-0">
            <!-- Title -->
            <div class="flex flex-row mt-2 justify-between">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    แก้ไขข้อมูลยี่ห้อ
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="grid gap-4 w-full sm:grid-cols-1">
            <form class="bg-card rounded-2xl md:shadow overflow-hidden px-8 pt-6 pb-8 mb-4 flex flex-col my-2" [formGroup]="editForm">
                <span
                    class="text-xl md:text-xl font-bold tracking-tight leading-7 sm:leading-10 truncate text-gray-500">
                    ข้อมูลยี่ห้อ
                </span>
                <div class="-mx-3 md:flex mb-6">
                    <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>ชื่อยี่ห้อ</mat-label>
                            <input matInput formControlName="name">
                            <!-- <mat-hint>This is a hint text</mat-hint> -->
                        </mat-form-field>
                    </div>
                    <div class="md:w-1/2 px-3">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>รายละเอียด</mat-label>
                            <input matInput formControlName="detail">
                            <!-- <mat-hint>This is a hint text</mat-hint> -->
                        </mat-form-field>
                    </div>
                </div>
                <div class="-mx-3 md:flex mb-6">
                    <div class="flex justify-center md:w-1/2 px-3" *ngIf="this.url_image">
                        <img  class="object-cover h-44 w-auto border-2 border-gray-50 rounded-sm" src="{{this.url_image}}">
                        <!-- <img  class="object-contain h-44 w-auto" src="assets/images/no_image.png"> -->
                    </div>
                    <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                        <ngx-dropzone (change)="onSelect($event)" >
                            <ngx-dropzone-label>เลือกรูป</ngx-dropzone-label>
                            <div *ngFor="let f of files">
                                <ngx-dropzone-image-preview [file]="f" [removable]="true" (removed)="onRemove(f)"></ngx-dropzone-image-preview>
                            </div>
                        </ngx-dropzone>
                    </div>
                </div>
                <div class="flex justify-end mt-2">
                    <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="onSubmit()">
                        บันทึก
                    </button>
                    <button class="px-6 ml-3" mat-flat-button [color]="'warn'" (click)="backTo()">
                        ยกเลิก
                    </button>
                </div>
            </form>
        </div>
        
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg m-10  bg-white">
        <div class="flex flex-col flex-auto p-5  sm:overflow-y-auto">
            <table datatable [dtOptions]="dtOptions" class="table row-border hover w-full bg-white whitespace-nowrap">
                <thead>
                    <tr>
                        <th class="w-[100px]">จัดการ</th>
                        <th class="w-[10px]">ลำดับ</th>
                        <th>ชื่อรุ่น</th>
                        <th>รายละเอียด</th>
                        <th>สร้างโดย</th>
                        <th>วันที่สร้าง</th>
                    </tr>
                </thead>
                <tbody *ngIf="dataRow?.length != 0">
                    <tr *ngFor="let item of dataRow; let i = index">
                        <td>
                            <button mat-icon-button color="accent" (click)="editElement(item)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="accent" (click)="delete(item.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                        <td>{{ pages.begin + (i + 1) }}</td>
                        <td>{{ item.name ? item.name : "-" }}</td>
                        <td>{{ item.detail ? item.detail : "-" }}</td>
                 
                        <td>{{ item.create_by ? item.create_by : "-" }}</td>
                        <td>{{ item.created_at !== null ? (item.created_at | date : "dd-MM-yy, HH:mm"): "-"}}</td>
                    </tr>
                </tbody>
                <tbody *ngIf="dataRow?.length == 0">
                    <tr>
                        <td colspan="7" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
