<div class="md:max-w-lg mx-auto">
    <h1 mat-dialog-title class="text-xl font-semibold mb-4 ml-5">เพิ่มชั้นวางสินค้า</h1>
    <div mat-dialog-content class="max-h-96 overflow-y-auto md:max-h-180">
        <form [formGroup]="addForm">
            <div class="flex flex-row">
                <div class="flex flex-col mx-3 md:flex mb-6 w-full">
                    <!-- <div class="md:w-full px-3 mb-6 md:mb-0">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>เพิ่มคลังสินค้า</mat-label>
                            <mat-select formControlName="permission_id">
                                <mat-option *ngFor="let item of this.permissions;" value="{{item.id}}">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->
                    <div class="md:w-full px-3">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>รหัสชั้นวางสินค้า</mat-label>
                            <input matInput [placeholder]="'กรอกข้อมูลคลังคลังสินค้า'" formControlName="name">
                        </mat-form-field>
                    </div>
                    <div class="md:w-full px-3">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>ชื่อชั้นวางสินค้า</mat-label>
                            <input matInput [placeholder]="'กรอกข้อมูลชื่อคลังสินค้า'" formControlName="name">
                        </mat-form-field>
                    </div>
                    <!-- <div class="md:w-full px-3">
                        <ngx-dropzone (change)="onSelect($event)" >
                            <ngx-dropzone-label>เลือกรูป</ngx-dropzone-label>
                            <div *ngFor="let f of files">
                                <ngx-dropzone-image-preview [file]="f" [removable]="true" (removed)="onRemove(f)"></ngx-dropzone-image-preview>
                            </div>
                        </ngx-dropzone>
                    </div> -->
                </div>
            </div>
        </form>
    </div>
    <div mat-dialog-actions class="flex justify-end mt-4">
        <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="onSaveClick()">
            ตกลง
        </button>
        <button class="px-6 ml-3" mat-flat-button [color]="'warn'" (click)="onCancelClick()">
            ยกเลิก
        </button>
    </div>
</div>
