<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <!-- Loader -->
    <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 flemin-w-0">
            <!-- Title -->
            <div class="flex flex-row mt-2 justify-between">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    รายการเงินเดือน
                </h2>

            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg m-10  bg-white">
        <div class="flex flex-col flex-auto p-5  sm:overflow-y-auto overflow-x-auto">
            <table class="min-w-full text-left text-lg font-light whitespace-nowrap">
                <thead class="border-b font-medium dark:border-neutral-500 ">
                    <tr>
                        <th class="w-[100px]">จัดการ</th>
                        <th class="w-[10px]  border-2">ลำดับ</th>
                        <th class=" border-2">รหัส</th>
                        <th class="w-[100px] border-2">ชื่อ - นามสกุล</th>
                        <th class="w-[100px]  border-2">แผนก</th>
                        <th class="w-[250px]  border-2">ตำแหน่ง</th>
                        <th class="w-[250px]  border-2">วันทำงานทั้งหมด</th>
                        <th class="w-[250px]  border-2">วันมาทำงานจริง</th>
                        <th class="w-[250px]  border-2">จำนวนวันมาสาย</th>
                        <th class="w-[250px]  border-2">จำนวนวันขาดงาน</th>
                        <th class="w-[250px]  border-2">จำนวนวันลา</th>
                        <th class="w-[250px]  border-2">จำนวนวันลาป่วย</th>
                        <th class="w-[250px]  border-2">% มาทำงาน</th>
                        <th class="w-[250px]  border-2">รวมมาสาย</th>
                        <th class="w-[250px]  border-2">เวลามาไวสุด</th>
                        <th class="w-[250px]  border-2">รวมโอที</th>
                        <!-- <th>วันที่สร้าง</th> -->
                    </tr>
                </thead>
                <tbody *ngIf="payrolls?.length != 0">
                    <tr *ngFor="let item of payrolls; let i = index">
                        <td>
                            <button mat-icon-button color="accent" (click)="editElement(item)">
                                <mat-icon>print</mat-icon>
                            </button>
                        </td>
                        <td>{{i + 1 }}</td>
                        <td>{{ item.employeeNo }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item?.groupName}}</td>
                        <td>{{ item?.totalWorkday }}</td>
                        <td>{{ item?.actualWorkday }}</td>
                        <td>{{ item?.lateCount }}</td>
                        <td>{{ item?.absentCount }}</td>
                        <td>{{ item?.personalLeaveCount }}</td>
                        <td>{{ item?.sickLeaveCount }}</td>
                        <td>{{ item?.percenWork }}</td>
                        <td>{{ item?.sumLate }}</td>
                        <td>{{ item?.sumEarly }}</td>
                        <td>{{ item?.sumOT }}</td>
                        <!-- <td>{{ item.created_at !== null ? (item.created_at | date : "dd-MM-yy, HH:mm"): "-"}}</td> -->
                    </tr>
                </tbody>
                <tbody *ngIf="dataRow?.length == 0">
                    <tr>
                        <td colspan="7" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>