<div class="md:max-w-lg mx-auto">
    <h1 mat-dialog-title class="text-xl font-semibold mb-4 ml-5" *ngIf="!data.data">เพิ่มข้อมูลสี</h1>
    <h1 mat-dialog-title class="text-xl font-semibold mb-4 ml-5" *ngIf="data.data">แก้ไขข้อมูลสี</h1>
    <div mat-dialog-content class="max-h-96 overflow-y-auto md:max-h-180">
        <form [formGroup]="addForm">
            <div class="flex-auto">
                <div class="flex flex-col mx-3 md:flex mb-6">
              
                    <div class="md:w-full px-3">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>สี</mat-label>
                            <input matInput [placeholder]="'กรุณาระบุสี'" formControlName="name">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div mat-dialog-actions class="flex justify-end mt-4">
        <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="onSaveClick()">
            ตกลง
        </button>
        <button class="px-6 ml-3" mat-flat-button [color]="'warn'" (click)="onCancelClick()">
            ยกเลิก
        </button>
    </div>
</div>
