<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <!-- Loader -->
    <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    <!-- <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 flemin-w-0">

        </div>
    </div> -->

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="grid gap-4 w-full sm:grid-cols-1">

            <form class="bg-card rounded-lg md:shadow overflow-hidden px-8 pt-6 pb-8 mb-4 flex flex-col my-2">
                <div class="flex flex-row my-5 justify-between">
                    <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                        แก้ไขชั้นวางสินค้า
                    </h2>
                </div>
                <div class="-mx-3 md:flex mb-2">
                    <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>รหัสชั้นวางสินค้า</mat-label>
                            <input matInput [placeholder]="'กรอกรหัสชั้นวางสินค้า'">
                        </mat-form-field>
                    </div>
                </div>
                <div class="-mx-3 md:flex mb-5">
                    <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>ชื่อคลังสินค้า</mat-label>
                            <input matInput [placeholder]="'กรอกชื่อชั้นวางสินค้า'">
                        </mat-form-field>
                    </div>
                </div>
                <div class="md:w-full px-3">
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                        formControlName="active">
                        <mat-radio-button class="example-radio-button" *ngFor="let item of status" [color]="'primary'"
                            [value]="item.id">
                            {{item.name}}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="flex justify-end mt-5">
                    <button class="px-6 ml-3" mat-flat-button [color]="'primary'">
                        บันทึก
                    </button>
                    <button class="px-6 ml-3" mat-flat-button [color]="'warn'">
                        ยกเลิก
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mx-10 mb-10  bg-white">
        <div class="flex flex-row justify-between m-5">
            <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                รายการชั้นที่
            </h2>
            <div class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 ">
                <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="addShelf()">
                    <mat-icon>person_add</mat-icon>
                    &nbsp;
                    เพิ่มชั้นที่
                </button>
            </div>
        </div>
        <div class="flex flex-col flex-auto p-5  sm:overflow-y-auto">
            <table datatable [dtOptions]="dtOptions"
                class="table row-border hover w-full bg-white whitespace-nowrap">
                <thead>
                    <tr>
                        <th class="w-[100px]">จัดการ</th>
                        <th class="w-[10px]">ลำดับ</th>
                        <th>ชื่อชั้นที่</th>
                        <th>รูป</th>
                        <th>สร้างโดย</th>
                        <th>วันที่สร้าง</th>
                    </tr>
                </thead>
                <tbody *ngIf="dataRow?.length != 0">
                    <tr *ngFor="let item of dataRow; let i = index">
                        <td>
                            <button mat-icon-button color="accent" (click)="editElement(item)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="accent" (click)="deleteElement(item)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                        <td>{{ pages.begin + (i + 1) }}</td>
                        <td>{{ item.name ? item.name : "-" }}</td>
                        <td>{{ item.name ? item.name : "-" }}</td>
                        <td>{{ item.create_by ? item.create_by : "-" }}</td>
                        <td>{{ item.created_at !== null ? (item.created_at | date : "dd-MM-yy, HH:mm"): "-"}}</td>
                    </tr>
                </tbody>
                <tbody *ngIf="dataRow?.length == 0">
                    <tr>
                        <td colspan="7" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
